<template>
    <div>
      <div class="d-flex position-relative justify-content-between p-2">
        <div></div>
        <h3 class="ps-5 h2">Welcome to Movie Listing Page</h3>
        <Button type="primary" shape="circle" icon="ios-add-circle" @click="addMovie">AddMovie</Button>
      </div>
       <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 g-3 bg-secondary m-3" >
            <movie-card v-for="movie in movies" :key="movie.id" :movie="movie" :entity="entity"
                @delete-movie="deleteMovie" @edit-movie="editMovie">
            </movie-card>
       </div>
       <movie-form :entity="entity" @submit-movie="submitMovie" ref="movieForm"
            :movieModal="movieModal" @click-cancel="movieModal=false"  @error-occured="errorOccured">
       </movie-form>
    </div> 
</template>
<script>

import axios from 'axios';
import MovieCard from '../components/MovieCard.vue';
import MovieForm from '../components/MovieForm';
export default{
    data(){
      return{
         movies : [],
          entity : "Movie",
          movieModal : false
      }
    },
  created(){
    this.getMovies()
  }, 
  components: {
    MovieCard,
    MovieForm
  },
  methods :{

    submitMovie(movieData){
        this.movieModal=false
        const fd = new FormData();
                 if (movieData.poster !== null) {
                fd.append("file", movieData.poster);
                }

            axios.post("https://localhost:5001/movie/upload",fd).then((response) => {
                const formData={
                    name : movieData.name,
                    poster : response.data,
                    plot : movieData.plot,
                    yearOfRelease : movieData.yearOfRelease.getFullYear(),
                    ProducerId : movieData.selectedProducer,
                    ActorIds : movieData.selectedActors,
                    GenreIds : movieData.selectedGenres
                    };
                    if(movieData.id ==0){
                      axios.post("https://localhost:5001/movie",formData).then(()=>{this.getMovies()}) 
                    }
                    else{
                      axios.put("https://localhost:5001/movie/"+movieData.id,formData).then(()=>{this.getMovies()}) 
                    }
            })     
    },


    deleteMovie(id) {
      axios.delete("https://localhost:5001/movie/"+id).then(()=>{this.getMovies()})
    },

    getMovies(){
      axios.get("https://localhost:5001/movie/all").then(
      res => {
        this.movies=res.data
      })
    },
    addMovie(){
      this.movieModal = true
      this.$refs.movieForm.addMovie()
    },

    editMovie(movieData){
        this.$refs.movieForm.editMovie(movieData)
        this.movieModal=true
    },

     errorOccured(){
     this.movieModal=false
   }

  }
}
</script>


