<template>
  <div class="modal fade" :id="'DeleteModal'+id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                 <div class="modal-dialog" role="document">
                     <div class="modal-content">
                     <form>
                     <div class="modal-header">
                         <h5 class="modal-title">Delete {{entity}}</h5>
                         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                         </button>
                     </div>
                     <div class="modal-body">
                         Are you sure you want to delete this {{entity}}?{{id}}
                     </div>
                     <div class="modal-footer">
                         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                         <button type="button" class="btn btn-danger" @click="deleteModal(id)" data-dismiss="modal">Delete</button>
                     </div>
                     </form>
                     </div>
                 </div>
                 </div> 
</template>

<script>
export default {
  props: ["id", "entity"],
  methods: {
    deleteModal(id) {
                this.$emit('delete-modal', id);
            },
  },
}
</script>
