<template>
<div>
    <div class="mb-5 p-3" >
                   <div class="card">
                        <img class="card-img-top" width="100%" height="225px" :src='movie.poster'>
                        <div class="text-center">
                            <h1 id="Mname" > {{movie.name}}</h1>
                            <h5 id="release"> {{movie.yearOfRelease}} </h5>
                        </div> 
                        <div class="card-body" style="border: 10px,solid,rgb(218, 20, 20)">
                            <a :href="'#div'+movie.id" data-toggle="collapse">See more</a>
                            <div :id="'div'+movie.id" class="collapse">
                                <h6 id="pname">Producer : {{movie.producer.name}}</h6>
                            <p>Actors :    <span id="aname" v-for="actor in movie.actors" :key="actor.id" >{{actor.name}}, </span> </p>
                            <p>Genres :   <span id="gname" v-for="g in movie.genre" :key="g.id" > {{g.name}},</span> </p>
                                <div id="plot">Plot : {{movie.plot}}</div>
                            </div> 
                        </div>
                        <div class="p-3 modal-footer">
                            <button type="button" class="btn btn-primary" @click="editMovie">Edit</button>
                            <button type="button" class="btn btn-danger" data-toggle="modal" :data-target="'#DeleteModal'+movie.id">Delete</button>
                        </div>
                    </div>
                 </div>
        <delete-modal :entity="entity" :id="movie.id"  @delete-modal="deleteMovie"></delete-modal>
</div>
</template>

<script>
import DeleteModal from './DeleteModal.vue'


export default {
  props: ['movie','entity'],
  methods :{
    deleteMovie(id) {
                this.$emit('delete-movie', id);
            },

      editMovie() {
                this.$emit('edit-movie', this.movie);
            }, 
  },
  components:{
    DeleteModal,
  },
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
