<template>
      <div class="col-lg-4 col-md-6 mb-5" >
                   <div class="card h-100" style="border-radius:20px;">
                        <div class="card-body" style="border: 10px,solid,rgb(218, 20, 20)">
                            <h3 > {{person.name}}</h3>
                            <h4  > {{new Date(person.dateOfBirth).toLocaleDateString()}}</h4>
                            <h5 class="text-muted"> {{person.bio}}</h5>
                        </div> 
                            <div class="p-3 modal-footer bg-secondary bg-light" >
                                <button type="button" class="btn btn-primary" @click="editPerson" >Edit</button>
                                <button type="button" class="btn btn-danger" data-toggle="modal" :data-target="'#DeleteModal'+person.id">Delete</button>
                            </div>
                    </div> 
                <delete-modal :entity="entity" :id="person.id"  @delete-modal="deletePerson"></delete-modal>

      </div>   
</template>
<script>

import DeleteModal from './DeleteModal.vue'

export default {
  props: ['person','entity'],
  data(){
    return{} 
  },
  components:{
    DeleteModal,
    
  },
  methods:{
    deletePerson(id) {
                this.$emit('delete-person', id);
            },
     editPerson() {
                this.$emit('edit-person', this.person);
            },
  },
}
</script>

<style scoped>

</style>
